API_PORT = 4000 // robust backend server port
BASE_URL="https://yourdomain.com" // your frontend domain adderess
DATABASE_URL="postgresql://neondb_owner:npg_R7SbapdF0jxE@ep-red-meadow-a1y9b2cy-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require" // your postgresql database url
AUTH_SECRET=e1edbf77cae62a1bbddc261fcae60299df94ba08e5c6c08c884dfc57c174e65d // your JWT secret
